<div ng-controller="ContactCtrl">
    <section>
        <ul class="nav nav-pills">
            <li ng-class="{ active: isSelect(1)}">
                <a href ng-click="selectTab(1)">Contacts list</a>
            </li>
            <li ng-class="{ active: isSelect(2)}">
                <a href ng-click="selectTab(2)">My contact</a>
            </li>
        </ul>
    </section>
    <div class='panels' ng-show="isSelect(1)">
        <p>
            Search: <input ng-model="query" type="text" class="form-control" placeholder="Search...">
        </p>
        <table class="table table-hover">
        <tr>
            <td>
                <b>Name</b>
            </td>
            <td>
                <b>Surname</b>
            </td>
            <td>
                <b>Contact</b>
            </td>
        </tr>
        <tr ng-repeat="user in users | orderBy:'name' | filter:query">
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>
                <div ng-repeat="contact in user.contacts">
                {{contact.type}}: {{contact.text}}
                </div>
            </td>
            </div>
        </tr>
        </table>
    </div>
    <div class='panels' ng-show="isSelect(2)">
        <strong>{{my_info.name}} {{my_info.surname}}</strong>
        <li ng-repeat="contact in my_info.contacts">
            <em>{{contact.type}}:</em> {{contact.text}} <button class="btn btn-sm btn-default" ng-click="delContact($index, contact)">Delete</button>
         </blockquote>
        </li>
        <br>
        <form name="newContact" ng-submit="addContact(new_contact)">
            <blockquote>
               <strong>Type: {{new_contact.type}}</strong>
               <br>
               <em>Text: {{new_contact.text}}</em>
            </blockquote>
            <select ng-model="new_contact.type" ng-options="type for type in ['skype', 'phone', 'email']">
                <option value="">Choose type</option>
            </select>
            <input type="text" ng-model="new_contact.text">
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
