<h1>Contact Book</h1>
<p ng-show='isAuthShow()'>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque faucibus, diam eu vulputate aliquam, magna orci vulputate ante, quis vestibulum mi purus placerat eros. Fusce non sem sapien. Duis maximus velit et mi malesuada, ac posuere arcu maximus. Morbi vulputate viverra hendrerit. Proin facilisis fermentum aliquam. Donec hendrerit sed metus et porttitor. Etiam tincidunt molestie augue id egestas. Proin quis lobortis risus. Suspendisse id dui ut diam imperdiet vestibulum. Donec pharetra nunc vitae sapien elementum pulvinar. Integer vehicula dui ex, sed commodo mauris vestibulum eu.
</p>
<div ng-show='isLogoutShow()'>
<a href="#/contacts">Show Contacts</a>
</div>
