<form role="form" ng-controller="RegistrationCtrl" name="registrationForm" ng-submit="addUser(user)">
<alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="form-group">
    <label for="InputEmail">Email address</label>
    <input type="email" ng-model="user.email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="InputName">Name</label>
    <input type="text" ng-model="user.name" class="form-control" id="name" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="InputSurname">Surname</label>
    <input type="text" ng-model="user.surname" class="form-control" id="surname" placeholder="Enter surname">
  </div>
  <div class="form-group">
    <label for="InputPassword">Password</label>
    <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
