<!DOCTYPE html>
<html lang="en" ng-app="ContactBookApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/img/favicon.ico">

    <title>Contacts Book</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <link href="static/css/main.css" rel="stylesheet">
  </head>

  <body ng-controller="MainCtrl">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Contact Book</a>
        </div>
        <div class="navbar-collapse collapse">
          <div class="navbar-form navbar-right">
            <div ng-show='isAuthShow()'>
              <div class="form-group">
                <input type="text" ng-model="user.email" placeholder="Email" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" ng-model="user.password" placeholder="Password" class="form-control">
              </div>
              <button type="submit" class="btn btn-success" ng-click="login(user)">Sign in</button>
              <a class="btn btn-success" href="#/registration">
                Registration
              </a>
            </div>
            <div ng-show='isLogoutShow()'>
              <button type="submit" class="btn btn-success" ng-click="logout()">Sign out</button>
            </div>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="container main_container">
      <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      <div class="view-container">
          <div ng-view class="view-animate"></div>
      </div>

      <hr>

      <footer>
        <p>&copy; Contact Books Company 2014</p>
      </footer>
    </div> <!-- /container -->

  <div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="AuthModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">User Authentication</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <input type="text" ng-model="user.email" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" ng-model="user.password" placeholder="Password" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" ng-click="login(user)">Sign in</button>
      </div>
    </div>
  </div>
</div>

  <!-- JavaScript -->
    <script src="static/bower_components/jquery/dist/jquery.js"></script>
    <script src="static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="static/bower_components/angular/angular.js"></script>
    <script src="static/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="static/bower_components/angular-route/angular-route.js"></script>
    <script src="static/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/controllers/main.js"></script>
    <script src="static/js/services/token.js"></script>
    <script src="static/js/services/loginservice.js"></script>
    <script src="static/js/services/contacts.js"></script>
  <!-- JavaScript -->
  </body>
</html>
